.basic{
                    background-color: #0073aa; 
                    color: white; 
                    font-size: small;
                    margin-left: 1rem;
                    margin-right: 20px;
                    border: none;
                    padding-top: 10px;
                    padding-right: 15px;
                    padding-bottom: 10px;
                    padding-left: 15px;
}
.box{
                    border-right: 3px solid rgb(215, 208, 208);
                    border-left: 3px solid rgb(215, 208, 208);
                    height: 700px;
}
.newUser{
                    background-color: #f7f5f5;
                    padding: 16px;
                    color: gray;
}
